<main class="lista-vacantes">
    <h2>Lista de Vacantes</h2>

    <!--    VACANTES FACEBOOK       -->
    <div class="vacante">
        <div class="caja">
            <h3>Facebook</h3>
            <p class="puesto">React Developer</p>
        </div>

        <div class="caja">
            <p class="etiqueta">Ubicación</p> 
            <p class="nombre">Remoto</p>
        </div>

        <div class="caja">
            <a href="" class="etiqueta">Contrato</a>
            <p class="nombre contrato">Tiempo Completo</p>
        </div>

        <div class="caja central-vertical">
            <a href="#" class="btn btn-verde">Más Información</a>
        </div>
    </div> <!-- Final Vacantes FACEBOOK -->

    <!--    VACANTES AIRBNB       -->
    <div class="vacante">
        <div class="caja">
            <h3>AirBNB</h3>
            <p class="puesto">React Developer</p>
        </div>

        <div class="caja">
            <p class="etiqueta">Ubicación</p> 
            <p class="nombre">Remoto</p>
        </div>

        <div class="caja">
            <a href="" class="etiqueta">Contrato</a>
            <p class="nombre contrato">Tiempo Completo</p>
        </div>

        <div class="caja central-vertical">
            <a href="#" class="btn btn-verde">Más Información</a>
        </div>
    </div> <!-- Final Vacantes AIRBNB -->

    <!--    VACANTES APPLE       -->
    <div class="vacante">
        <div class="caja">
            <h3>Apple</h3>
            <p class="puesto">React Developer</p>
        </div>

        <div class="caja">
            <p class="etiqueta">Ubicación</p> 
            <p class="nombre">Remoto</p>
        </div>

        <div class="caja">
            <a href="" class="etiqueta">Contrato</a>
            <p class="nombre contrato">Tiempo Completo</p>
        </div>

        <div class="caja central-vertical">
            <a href="#" class="btn btn-verde">Más Información</a>
        </div>
    </div> <!-- Final Vacantes APPLE -->

</main>

